<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=auth-token content="{{token}}">
    <title>Administration</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Material+Icons" rel=stylesheet>
    <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.0.9/css/all.css
          integrity=sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1 crossorigin=anonymous>
    <link rel=stylesheet href=./static/css/custom.css>
    <link href=/static/css/app.37316b86a9c258ef3b228a1699be4645.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.2bd40436804d064bc49f.js></script>
<script type=text/javascript src=/static/js/app.a2b6b38f2c17e3db457b.js></script>
</body>
</html>