<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=auth-token content="{{token}}">
    <title>client</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Material+Icons" rel=stylesheet>
    <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.0.9/css/all.css
          integrity=sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1 crossorigin=anonymous>
    <link rel=stylesheet href=./static/css/custom.css>
    <link href=/static/css/app.7eaedfb0a6f5dc762633fa24d65409bb.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.3f63b6a27f3491ed8a2f.js></script>
<script type=text/javascript src=/static/js/app.68b6c91917501b75cc99.js></script>
</body>
</html>